@using static Flower_App_copia_1.Data.Consigli
@model Flower_App_copia_1.Data.Consigli

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Pianta</h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsiglioId">

            <div class="form-group">
                <label asp-for="TitoloConsiglio" class="control-label"></label>
                <input asp-for="TitoloConsiglio" class="form-control">
                <span asp-validation-for="TitoloConsiglio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control">
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
